.navbar.navbar-default{
  margin-bottom:0;
  border: none;
  background-color:white;
  height:60px;
  width:100%;
  & > .container{
    margin-top:15px;
    margin-bottom:15px;
  }

  @include box-shadow(1px 1px 5px rgba(0, 0, 0, 0.3));

  .navbar-brand{
    @include hide-text();
    display: inline-block;

    background: url("#{$siteBase}/images/logo.jpg") left top no-repeat;
    @include size(86px,30px);
  }

  .page-name{
    margin-top: 7px;
    margin-left: 15px;
    font-size: 1em;
    font-family: ProximaNovaBold, Helvetica;
    font-weight:700;
    letter-spacing: 2px;
  }
  .navbar-collapse{
    margin-top:5px;
  }
  .ch-nav{
    list-style:none;
    margin-bottom: 0;
    li{
      float:left;
      margin-right:20px;
      a{
        color:$gray-light;
        text-decoration:none;}

      &.active{
        font-weight:700;
        a{color:black;}
      }
    }

    border-right:solid 1px $gray-light;
    margin-right:20px;

    &:before{
      content: "INTRO";
      float:left;
      margin-right:20px;
      letter-spacing: 2px;
      font-family: ProximaNovaBold, Helvetica;
      font-weight:700;
    }
  }

  .social{
    a{
      margin-right:10px;
      display:inline-block;
      @include square(22px);
      &.twitter{background-image: url("#{$siteBase}/images/twitter.jpg");}
      &.facebook{background-image: url("#{$siteBase}/images/facebook.jpg");}
    }
  }
}
