@mixin shared-borders {
  border:solid 3px rgba(0, 0, 0,0.1);
  @include border-left-radius(0px);
  @include border-right-radius(0px);
  @include border-top-radius(0px);
  @include border-bottom-radius(0px);
  box-shadow: 1px 1px 6px rgba(0, 0, 0,0.1);
}
@mixin shared {
  .title-case,.title{
    border-bottom: solid 1px #ccc;
    padding-bottom:5px;
    margin-top:0;
    margin-bottom:10px;
    font-size:18px;
  }
  a.cartodb-popup-close-button{
    top: 5px;
    right: 7px;
  }
  .cartodb-popup, .cartodb-popup-content-wrapper{
    background-image:none;
    p{font-size:12px;}
  }

}
@mixin windowfix($width:545px, $height: 600px) {
  width:$width !important;
  max-width:$width !important;
  height:$height !important;
  max-height:$height !important;
  background:white;
  overflow:visible;
  padding:0;
}

@mixin carto-tooltip($tooltipWidth:345px, $tooltipHeight:150px){
  background-color:white;
  @include shared();
  @include shared-borders();

  width:$tooltipWidth;

  font-size:12px;

  .cartodb-popup{
    @include windowfix($tooltipWidth - 30px, $tooltipHeight);
    // @include shared-borders();
    .cartodb-popup-content-wrapper{
      @include windowfix($tooltipWidth - 15px, $tooltipHeight - 15px);
      overflow:hidden;
      .cartodb-popup-content{
        @include windowfix($tooltipWidth - 35px, $tooltipHeight - 15px);
        overflow:visible !important;
        .jspContainer{
          @include windowfix($tooltipWidth - 40px, $tooltipHeight - 15px);
          .jspVerticalBar{display:none !important;}
          .jspPane{
            @include windowfix($tooltipWidth - 40px, $tooltipHeight - 15px);
          }
        }
      }
    }
  }

}

@mixin cartodb-infowindow($maxWidth:560px,$height:220px){
  width:$maxWidth !important;
  max-width:$maxWidth !important;
  @include shared();
  @include shared-borders();

  $width:$maxWidth;

  .cartodb-popup{
    @include windowfix($width, $height);
    .cartodb-popup-content-wrapper{
      @include windowfix($width - 15px, $height - 15px);
      overflow:hidden;
      padding-top: 0;
      .cartodb-popup-content{
        @include windowfix($width - 35px, $height - 15px);
        overflow:visible !important;
        .jspContainer{
          @include windowfix($width - 40px, $height - 15px);
          .jspVerticalBar{display:none !important;}
          .jspPane{
            @include windowfix($width - 40px, $height - 15px);
          }
        }
      }
    }
  }

}

@mixin layer_selector{
  position: absolute;
  bottom: 30px;
  padding:0;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      cursor:pointer;
      padding: 10px 10px 5px;
      display:block;
      width:100%;
      text-decoration:none;
      border-bottom: solid 1px black;
      background: rgba(0,0,0,0.1);
      &.active{
        background: white;
      }

      &.disabled{
        cursor:auto;
        background-color:red;
      }
    }
  }
}