<nav class="bottom-nav">
  <div class="container">
    <div class="row">
      <a class="prev nav-btn col-lg-5 col-md-5  col-sm-5 col-xs-5" href="javascript:;">
        <div class="btn-label">Previous chapter</div>

        <div class="ch-name">
          <span class="fa fa-chevron-left"></span>
          {% assign last_ch = page.chapter_number|minus:2%}
          {{site.data.chapters[last_ch]}}
        </div>
      </a>
      <a class="next nav-btn col-lg-5 col-md-5  col-sm-5 col-xs-5" href="javascript:;">
        <div class="btn-label">Next chapter</div>
        <div class="ch-name">
          {{site.data.chapters[page.chapter_number]}}
          <span class="fa fa-chevron-right"></span>
        </div>
      </a>
    </div>
  </div>
</nav>
