<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="{{site.root}}" class="navbar-brand">{{ site.name }}</a>
      <div class="navbar-nav">
        <h4 class="page-name">{{ page.page_name }}</h4>
      </div>
    </div>
    <div class="collapse navbar-collapse pull-right">
      <ul class="ch-nav pull-left clearfix">
        <li><a href="javascript:;">1</a></li>
        <li><a href="javascript:;">2</a></li>
        <li><a href="javascript:;">3</a></li>
        <li><a href="javascript:;">4</a></li>
        <li><a href="javascript:;">5</a></li>
        <li><a href="javascript:;">6</a></li>
      </ul>
      <div class="social pull-left">
        <a href="http://twitter.com/rpa" target="_blank" class="twitter"></a>
        <a href="http://facebook.com/rpa" target="_blank" class="facebook"></a>
      </div>
    </div>
  </div>
</nav>
