@import "../partials/utilities";

.page.home{
  .jumbotron{
    background-color:$golden;
    // height:553px;
    padding-top:110px;
    padding-bottom:110px;
  }
  .hero{
    hgroup{
      border-bottom:solid 1px black;
      margin: 0 auto 40px;
      display: block;
      width: 600px;
      color:white;
      @media (max-width: $screen-tablet){
        display: inline-block;
        line-height:1em;
        width: 100%;
        padding-bottom:20px;
      }
    }
    h2{
      text-transform: uppercase;
      font-family: ProximaNovaBold;
      font-weight:300;
      letter-spacing:2.5px;
      font-size:1.2em;
    }
    h1{
      font-size:6em;
      line-height:1em;
      font-family: CreteRound;
      font-weight:300;
      letter-spacing:2px;
    }
  }

  .content{
    .row{

      &:nth-child(2),&:nth-child(4),&:nth-child(6){
        .decal-column{
          @media (min-width: $screen-phone){
            float:right;
          }
        }
      }
    }
  }
  .row{
    padding-bottom:20px;
    margin-bottom:30px;
    border-bottom:solid 1px $gray-lighter;

    .copy-column{
      padding-top:120px;
    }
    .decal-column{
      height:400px;
      min-height:400px;
      &:before{
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }
    .img-circle{
      @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
      border:solid 5px #eae8e8;
      vertical-align: middle;
      max-height: 300px;
      max-width: 300px;
    }

    .ch-title{
      margin-top:0;
      font-family: CreteRound;
      font-weight:300;
      letter-spacing:2px;
      &:after{
        content: "\f054";
        font-family: FontAwesome;
        font-size:0.5em;
        margin-left: 5px;
        position: relative;
        bottom: 3px;
      };
    }
    .ch-name{
      margin-bottom:5px;
      font-size: 1.1em;
      color:$golden;
      font-family: ProximaNovaBold, Helvetica;
      font-weight:700;
      letter-spacing: 2px;
    }
    .ch-links{
      padding-left:15px;
      color:$gray-light;
      a{
        color:$gray-light;
      }
    }
  }
}