---
layout: default
title: RPA - vulnerable infrastructure
page_name: Infrastructure Susceptibility
class: vulnerable
---
{% include navbar.html %}

<div class="content">
  <div class="map">
    <div id="vulnerable" class="mapInner"></div>
    <div id="layer_selector" class="cartodb-infobox">
      <ul>
        <li data-sublayer="nursing_homes">
          <h3>11,114</h3>
          <p>(8% in the floodplain)</p>
          <p class='show'>Nursing home beds</p>
        </li>
        <li data-sublayer="hospitals">
          <h3>9,214</h3>
          <p>(11% in the floodplain)</p>
          <p class='show'>Hospital beds</p>
        </li>
        <li data-sublayer="public_housing">
          <h3>47,382</h3>
          <p>(14% in the floodplain)</p>
          <p class='show'>Public housing units</p>
        </li>
        <li data-sublayer="power_plants">
          <h3>59%</h3>
          <p>(19,186 kW)</p>
          <p class='show'>of power-generation capacity</p>
        </li>
        <li data-sublayer=["rail_lines","train_stations","subway_stations","subway_routes"]>
          <h3>115</h3>
          <p>(13% in the floodplain)</p>
          <p class='show'>Subway and rail stations</p>
        </li>
        <li data-sublayer="subway-yards" class="disabled">
          <h3>7</h3>
          <p>(33% in the floodplain)</p>
          <p class='show'>Subway yards</p>
        </li>
        <li data-sublayer="transit-tunnels" class="disabled">
          <h3>All</h3>
          <p class='show'>NYC Transit tunnels</p>
        </li>
        <li data-sublayer="airports" class="disabled">
          <h3>4</h3>
          <p class='show'>Airports</p>
        </li>
        <li data-sublayer="ports" class="disabled">
          <h3>All</h3>
          <p>(6 total)</p>
          <p class='show'>Shipping ports</p>
        </li>
        <li data-sublayer="ports" class="disabled">
          <h3>All</h3>
          <p>(12 total)</p>
          <p class='show'>Train and vehicle tunnels</p>
        </li>
        <li data-sublayer="ports" class="disabled">
          <h3>177</h3>
          <p>(6% in the floodplain)</p>
          <p class='show'>Public elementary schools</p>
        </li>
      </ul>
    </div>
  </div>

</div>












{% include footer.html %}