@import "bootstrap/variables";

#governance{
  background-color:#c9d9e1;
  .slides{
    & > img{
      display:none;
      margin:0 auto;
      &.active{
        display:block;
      }
    }
  }
  .cartodb-legend-stack{
    width: 280px;
    background: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
  }
  .cartodb-legend{
    li{
      color:#aaa;
      font-weight:normal;
      line-height:1.6em;
      font-size:14px;
      text-transform:initial;

    }
    .active{
      color:#000;

      font-weight:bold;
    }
  }
}