@import "bootstrap/variables";

#governance{
  background-color:#c9d9e1;
  .slides{
    & > img{
      display:none;
      margin:0 auto;
      &.active{
        display:block;
      }
    }
  }
  .cartodb-legend{
    li{
      font-weight:normal;
      line-height:1.6em;
      font-size:12px;
      text-transform:initial;
    }
    .active{
      font-weight:bold;
    }
  }
}