#schools{

  // School rank colors
  $bottom: #ba0000;
  $middle: #515151;
  $top:    #0082ac;

  $nodata: #a7907b;

  // LEGEND
  .cartodb-legend-stack{
    width:240px;
  }
  .cartodb-legend{
    b{
      display:block;
      margin-bottom:10px;
    }

  }
  .school-rank-legend{
    .colors{
      div{
        color:white;
        line-height:2.2em;

        &:nth-child(1){ background-color: $top;}
        &:nth-child(2){ background-color: $middle;}
        &:nth-child(3){ background-color: $bottom;}
      }
    }
  }


  // Income colors
  $color1: #beb4aa;
  $color2: rgba($color1, 0.8);
  $color3: rgba($color1, 0.6);
  $color4: rgba($color1, 0.4);
  $color5: rgba($color1, 0.2);

  .median-income{
    .colors{
      $i:5;
      @each $color in $color1, $color2, $color3, $color4, $color5 {
        div:nth-child(#{$i}){
          background-color: $color;
        }
        $i: $i - 1;
      }
    }
  }

  // Race colors





  $color1: #f5f5f5;
  $color2: #e8e8e4;
  $color3: #daded5;
  $color4: #cdd3c3;
  $color5: #b5c0a6;

  .race{
    .colors{
      $i:1;
      @each $color in $color1, $color2, $color3, $color4, $color5 {
        div:nth-child(#{$i}){
          background-color: $color;
        }
        $i: $i + 1;
      }
    }
  }


  .cartodb-tooltip{
    @include carto-tooltip(397.5px,250px);
  }

  .school-ranking{
    font-weight:bold;
  }

}


/*

#schoolperformancerank2012_withlocalities_rpare{
  marker-opacity: 0.8;
  marker-line-color: #FFF;
  marker-line-width: 0;
  marker-line-opacity: 1;
  marker-width: 4;
  marker-allow-overlap: true;
}
#schoolperformancerank2012_withlocalities_rpare [ rank_perce <= 0.25] {
   marker-fill: #ba0000;
}
#schoolperformancerank2012_withlocalities_rpare [ rank_perce > 0.25][ rank_perce <= 0.75] {
   marker-fill: #515151;
}
#schoolperformancerank2012_withlocalities_rpare [ rank_perce > 0.75][ rank_perce <= 1] {
   marker-fill: #0082ac;
}





*/