#vulnerable{

  // TOOLTIP
  .cartodb-tooltip{
    @include carto-tooltip(500px,120px);
  }

  & + #layer_selector{
    @include layer_selector();
    font-size:12px;
    left:10px;
    top: 90px;
    bottom: initial;
    h3{
      font-size:18px;
      margin:0;
    }
    li > * {
      display:none;
    }
    li.active > * {
      display:block;
    }
  }


  // LEGEND
  div.cartodb-legend.custom{
    // width:145px;
    .colors{
      div:before{
        content: "";
        display:block;
        float:left;
        width:10px;
        height:10px;
        margin-right:5px;
        margin-top:2px;

      };
      div:nth-child(1):before{
        background:#80c8dd;
      }
      div:nth-child(2):before{
        content: "•";
        color:#ba0000;
        font-size:2em;
        line-height:0.5em;
      }
      div:nth-child(3):before{
        content: "•";
        color:#575757;
        font-size:2em;
        line-height:0.5em;
      }
    }
  }
}