#vulnerable{
  $affected:#ba0000;
  $notAffected:#575757;
  $floodPlain:#80c8dd;
  .affected{
    color:$affected;
  }
  // TOOLTIP
  .cartodb-tooltip{
    @include carto-tooltip(300px,120px);
    .title{
      b{line-height:1em;}
    }
  }

  & + #layer_selector{
    @include layer_selector();
    font-size:12px;
    left:10px;
    top: 90px;
    bottom: initial;
    h3{
      font-size:18px;
      margin:0;
    }
    li > * {
      display:none;
    }
    li.active > * {
      display:block;
    }
  }


  // LEGEND
  div.cartodb-legend.custom{
    // width:145px;
    & > b{
      margin-bottom:10px;
      display:inline-block;
    }
    .colors{
      div:before{
        content: "";
        display:block;
        float:left;
        width:10px;
        height:10px;
        margin-right:5px;
        margin-top:2px;

      };
      div:nth-child(1):before{
        background:$floodPlain;
      }
      div:nth-child(2):before{
        content: "•";
        color:$affected;
        font-size:2em;
        line-height:0.5em;
      }
      div:nth-child(3):before{
        content: "•";
        color:$notAffected;
        font-size:2em;
        line-height:0.5em;
      }
    }
  }
}