@import "bootstrap/variables";

#walkability{
  .walkability-title{
    margin-bottom:10px;
    border-bottom:solid 1px #ccc;
  }
  .progress{
    height:10px;
    border-radius:0;
    margin-bottom:7px;
  }
  @include shared();
  .cartodb-popup, .cartodb-popup-content-wrapper{
    background-image:none;
    p{font-size:15px;}
  }

  .cartodb-infowindow{
    width:560px !important;
    max-width:560px !important;
    @include shared();

    .walkability-title{
      b{font-size:1.3em;display:inline-block;}
    }

    .cartodb-popup-tip-container{
      position:absolute;
      left: -4px;
      bottom: -17px;
    }
    .cartodb-popup{
      border:solid 3px rgba(0,0,0,0.2);
    }

    $width:400px;
    $height:250px;

    .cartodb-popup{
      @include windowfix($width, $height);
      @include shared-borders();
      .cartodb-popup-content-wrapper{
        @include windowfix($width - 15px, $height - 15px);
        overflow:hidden;
        padding-top: 0;
        .cartodb-popup-content{
          @include windowfix($width - 35px, $height - 15px);
          overflow:visible !important;
          .jspContainer{
            @include windowfix($width - 40px, $height - 15px);
            .jspVerticalBar{display:none !important;}
            .jspPane{
              @include windowfix($width - 40px, $height - 15px);
            }
          }
        }
      }
    }
  }


  .cartodb-tooltip{
    background-color:white;
    @include shared-borders();

    // padding:20px 20px;
    border:solid 3px rgba(0,0,0,0.2);
    $tooltipWidth:345px;
    $tooltipHeight:150px;
    width:$tooltipWidth;

    .cartodb-popup{
      @include windowfix($tooltipWidth, $tooltipHeight);
      @include shared-borders();
      .cartodb-popup-content-wrapper{
        @include windowfix($tooltipWidth - 15px, $tooltipHeight - 15px);
        overflow:hidden;
        .cartodb-popup-content{
          @include windowfix($tooltipWidth - 35px, $tooltipHeight - 15px);
          overflow:visible !important;
          .jspContainer{
            @include windowfix($tooltipWidth - 40px, $tooltipHeight - 15px);
            .jspVerticalBar{display:none !important;}
            .jspPane{
              @include windowfix($tooltipWidth - 40px, $tooltipHeight - 15px);
            }
          }
        }
      }
    }
  }


  .walkability-legend{
    // Income colors
    $color1: #fae2ab;
    $color2: #ffbb67;
    $color3: #a6a9de;
    $color4: #8e6eb1;
    $color5: #753384;

    $subway_line: opacify(#000000,0.3);
    $rail_line: opacify(#000000,0.3);

    .legend-title{
      margin-top:10px;
      margin-bottom:20px;
      display:inline-block;
    }
    .items{
      padding-bottom:20px;
      $i:1;
      @each $color in $color1, $color2, $color3, $color4, $color5 {
        p{
          margin-bottom:5px;
        }
        p:nth-child(#{$i}):before{
          content:"";
          height:20px;
          width:10px;
          background-color: $color;

          display: block;
          float: left;
          margin: -2px 8px 0 0;
        }
        $i: $i + 1;
      }

      border-bottom:solid 1px #ccc;
    }
    .legend-bottom{
      margin-top:10px;
      $i:1;
      @each $color in $rail_line, $subway_line {
        p{
          margin-bottom:10px;
        }
        p:nth-child(#{$i}):before{
          content:"";
          height:15px;
          width:3px;
          position:relative;
          top:3px;
          background-color: $color;

          display: block;
          float: left;
          margin: -2px 8px 0 0;
        }
        $i: $i + 1;
      }
    }
  }

}