@import "bootstrap/variables";

#walkability{

  .progress{
    height:10px;
    border-radius:0;
    margin-bottom:2px;
  }

  .cartodb-tooltip{
    @include carto-tooltip(345px, 100px);
  }

  .cartodb-infowindow{
    @include carto-infowindow(390px, 230px);
  }


  .walkability-score{
    &::after{
    content: "%";
    }
  }
  .walkability-legend{
    $color1: #fae2ab;
    $color2: #ffbb67;
    $color3: #a6a9de;
    $color4: #8e6eb1;
    $color5: #753384;

    $subway_line: opacify(#000000,0.3);
    $rail_line: opacify(#000000,0.3);

    .legend-title{
      margin-top:0px;
      margin-bottom:10px;
      display:inline-block;
      font-weight:700;
    }
    .items{
      padding-bottom:5px;
      $i:1;
      @each $color in $color1, $color2, $color3, $color4, $color5 {
        p{
          margin-bottom:5px;
        }
        p:nth-child(#{$i}):before{
          content:"";
          height:10px;
          width:10px;
          border: solid 1px #999;
          margin: 2px 8px 0 0;

          background-color: $color;


          display: block;
          float: left;

        }
        $i: $i + 1;
      }

      border-bottom:solid 1px #ccc;
    }

    .legend-bottom{
      margin-top:10px;
      $i:1;
      @each $color in $rail_line, $subway_line {
        p{
          margin-bottom:10px;
        }
        p:nth-child(#{$i}):before{
          content:"";
          height:15px;
          width:3px;
          position:relative;
          top:3px;
          background-color: $color;

          display: block;
          float: left;
          margin: -2px 8px 0 0;
        }
        $i: $i + 1;
      }
    }
  }

}


/*

#walkscore_rpa_2010blockgroups_032014_withlocal{
  polygon-opacity: 0.8;
  line-color: #FFF;
  line-width: 0.5;
  line-opacity: 1;
}
#walkscore_rpa_2010blockgroups_032014_withlocal [ walk_sco_1 <= 20] {
   polygon-fill: #fae2ab;
}
#walkscore_rpa_2010blockgroups_032014_withlocal [ walk_sco_1 > 20][ walk_sco_1 <= 50] {
   polygon-fill: #ffbb67;
}
#walkscore_rpa_2010blockgroups_032014_withlocal [ walk_sco_1 > 50][ walk_sco_1 <= 75] {
   polygon-fill: #a6a9de;
}
#walkscore_rpa_2010blockgroups_032014_withlocal [ walk_sco_1 > 75][ walk_sco_1 <= 90] {
   polygon-fill: #8e6eb1;
}
#walkscore_rpa_2010blockgroups_032014_withlocal [ walk_sco_1 > 90] {
   polygon-fill: #753384;
}
*/