---
layout: default
title: RPA
class: home
page_name: REGIONAL PLAN ASSOCIATION
permalink: /
published: true
---

{% include navbar.html %}

<div class="site">
  <div class="jumbotron">
    <div class="hero container">
      <hgroup>
        <h1 class="text-center">Fragile Success</h1>
        <h2 class="text-center">Taking Stock of the New York Metropolitan Region</h2>
      </hgroup>
      <p>
        Over the last generation, the New York metropolitan region has seen sweeping change, much of it for the better. In 1990, we were clearly a region at risk, with high crime rates, low job creation, crumbling infrastructure, disappearing farms and open space, and a population that wanted to leave for other parts of the country.
 	<p>
Much has changed. The region has caught up to the nation in private-sector job growth, and jobs are being created in increasingly diverse sectors; more people are optimistic about their future; and the tri-state area is recognized as one of the world’s most economically vibrant regions.
  	<p>
Yet our success is fragile. The region has progressed as whole, but too many people haven’t shared in this growth. Real incomes have actually declined over the last 25 years for the majority of families. Many communities remain highly segregated by race and wealth, limiting opportunities for many.
 	<p>
In a striking reversal from 25 years ago, some of the fastest-growing problems are in our suburbs, not in New York City. And we are more vulnerable to disasters than ever before, as climate change ushers in stronger storms and higher sea levels. These risks are compounded by our reliance on fragile physical infrastructure systems.
  	<p>
Above all else, we see evidence that our governing institutions are failing to make the hard choices necessary to address our most difficult problems. These challenges threaten to squander our advantages and leave the region worse off a generation from now than it is today.
      </p>
    </div>
  </div>

  <div class="container content">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 text-center decal-column">
        <img src="{{site.root}}images/circles/Chapter-1.jpg" class="img-circle"/>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 copy-column">
        <h3 class="ch-name">PART 1</h3>
        <h2 class="ch-title">{{site.data.chapters[0]}}</h2>
        <br>
        <ul class="ch-links">
          <li><a href="">Link1</a></li>
          <li><a href="">Our transit system gives people access to millions of jobs.</a></li>
          <li><a href="">Crime has fallen dramatically.</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 text-center decal-column">
        <img src="{{site.root}}images/circles/Chapter-2.jpg" class="img-circle"/>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 copy-column">
        <h3 class="ch-name">PART 2</h3>
        <h2 class="ch-title">{{site.data.chapters[1]}}</h2>
        <br>
        <ul class="ch-links">
          <li><a href="">Link1</a></li>
          <li><a href="">Link2</a></li>
          <li><a href="">Link3</a></li>
        </ul>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 text-center decal-column">
        <img src="{{site.root}}images/circles/Chapter-3.jpg" class="img-circle"/>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 copy-column">
        <h3 class="ch-name">PART 3</h3>
        <h2 class="ch-title">{{site.data.chapters[2]}}</h2>
        <br>
        <ul class="ch-links">
          <li><a href="">Link1</a></li>
          <li><a href="">Link2</a></li>
          <li><a href="">Link3</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 text-center decal-column">
        <img src="{{site.root}}images/circles/Chapter-4.jpg" class="img-circle"/>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 copy-column">
        <h3 class="ch-name">PART 4</h3>
        <h2 class="ch-title">{{site.data.chapters[3]}}</h2>
        <br>
        <ul class="ch-links">
          <li><a href="">Link1</a></li>
          <li><a href="">Link2</a></li>
          <li><a href="">Link3</a></li>
        </ul>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 text-center decal-column">
        <img src="{{site.root}}images/circles/Chapter-5.jpg" class="img-circle"/>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 copy-column">
        <h3 class="ch-name">PART 5</h3>
        <h2 class="ch-title">{{site.data.chapters[4]}}</h2>
        <br>
        <ul class="ch-links">
          <li><a href="">Link1</a></li>
          <li><a href="">Link2</a></li>
          <li><a href="">Link3</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 text-center decal-column">
        <img src="{{site.root}}images/circles/Chapter-6.jpg" class="img-circle"/>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 copy-column">
        <h3 class="ch-name">PART 6</h3>
        <h2 class="ch-title">{{site.data.chapters[5]}}</h2>
        <br>
        <ul class="ch-links">
          <li><a href="">Link1</a></li>
          <li><a href="">Link2</a></li>
          <li><a href="">Link3</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>

{% include footer.html %}