<div class='cartodb-legend choropleth school-rank-legend'>
  <h5 style="font-weight:bold">School rank</h5>
  <ul>
    <li class="min">
      0%
    </li>
    <li class="min" style="margin-left:28px">
      25%
    </li>
    <li class="min" style="margin-left:25px">
      50%
    </li>
    <li class="min" style="margin-left:37px">
      75%
    </li>
    <li class="max">
      100%
    </li>
    <li class="graph count_305">
      <div class="colors" style="text-align:center">
        <div class="quartile">
           Low
        </div>
        <div class="quartile">
           Average
        </div>
        <div class="quartile">
           High
        </div>
      </div>
    </li>
  </ul>
</div>
<div class='cartodb-legend choropleth hh-legend'>
  <b>Median household income</b>
  <ul class="median-income">
    <li class="min">
        $40,673
    </li>
    <li class="max">
        $250,000
    </li>
    <li class="graph count_305">
      <div class="colors">
        <div class="quartile">
        </div>
        <div class="quartile">
        </div>
        <div class="quartile">
        </div>
        <div class="quartile">
        </div>
        <div class="quartile">
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="cartodb-legend choropleth race-legend" style="display:none">
  <b>Percentage of white population</b>
  <ul class="race">
    <li class="min">
        0%
    </li>
    <li class="max">
        100%
    </li>
    <li class="graph count_305">
      <div class="colors">
        <div class="quartile">
        </div>
        <div class="quartile">
        </div>
        <div class="quartile">
        </div>
        <div class="quartile">
        </div>
        <div class="quartile">
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="btn-group btn-group-justified legend-toggler" id="layer_selector">
  <a class="btn btn-default hh-btn active" data-sublayer="median_income">By income</a>
  <a class="btn btn-default race-btn" data-sublayer="race">By race</a>
</div>