---
layout: default
section: chapter
---
{% include navbar.html %}
<div class="site">
  <div class="jumbotron">
    <div class="hero container">
      <h1 class="ch-title">{{page.chapter_title}}</h1>
    </div>
    <cite>{{page.credit}}</cite>
  </div>
  <div class="intro">
    <div class="container">
      {{page.chapter_intro}}
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 item">
        {{content}}
      </div>
    </div>
  </div>
</div>
{% include bottomNav.html %}
<nav class="bottom-callout">
  <div class="container">
    <div class="row">
      <blockquote class="col-lg-6" style="float:none;margin:0 auto;font-weight:bold">
        Share your ideas for the region on <a href="https://www.facebook.com/regionalplan">Facebook</a> or <a href="https://twitter.com/RegionalPlan" target="_blank">twitter</a>, hashtag #4thplan, or post a <a href="http://rpa.org/fourth-plan" target="_blank">comment on our website</a>.
      </blockquote>
    </div>
  </div>
</nav>
{% include footer.html %}
