---
layout: default
section: chapter
---
{% include navbar.html %}
<div class="site">
  <div class="jumbotron">
    <div class="hero container">
      <h1 class="ch-title">{{page.chapter_title}}</h1>
    </div>
    <cite>{{page.credit}}</cite>
  </div>
  <div class="intro">
    <div class="container">
      {{page.chapter_intro}}
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 item">
        {{content}}
      </div>
    </div>
  </div>
</div>
{% include bottomNav.html %}
<nav class="bottom-callout">
  <div class="container">
    <div class="row">
      <blockquote class="col-lg-6" style="float:none;margin:0 auto;font-weight:bold">Thoughts on changes you want to see in the region? Problem-solving ideas are encouraged! Tweet us at <a href="https://twitter.com/RegionalPlan" target="_blank">@regionalplan</a> with the hashtag <a href="https://twitter.com/search?q=%234thplan&src=typd" target="_blank">#4thplan</a>, post on our Facebook page, or post a <a href="http://rpa.org/fourth-plan" target="_blank">comment here</a>. We'll collect some of the most interesting suggestions and post them at http://rpa.org/fourth-plan
      </blockquote>
    </div>
  </div>
</nav>
{% include footer.html %}
