---
layout: default
section: chapter
---
{% include navbar.html %}
<div class="site">
  <div class="jumbotron">
    <div class="hero container">
      <h1 class="ch-title">{{page.chapter_title}}</h1>
    </div>
    <cite>{{page.credit}}</cite>
  </div>
  <div class="intro">
    <div class="container">
      {{page.chapter_intro}}
      <div class="share-prompt clearfix">
        <div class="pull-left share-text">
         SHARE:
        </div>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style pull-left">
        <a class="addthis_button_facebook">  <img border="0" alt="Share" src="/images/share/facebook.png"></a>
        <a class="addthis_button_twitter" tw:via="RegionalPlan"> <img border="0" alt="Tweet" src="/images/share/twitter.png"></a>
        <a class="addthis_button_compact"> <img border="0" alt="Addthis" src="/images/share/addthis.png"></a>
        </div>
        <script type="text/javascript">var addthis_share = {
            templates : {
                twitter : "{{title}} {{url}} (via @RegionalPlan)"
            }
        }</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e3b189736cab6b7"></script>

        <!-- AddThis Button END --><!-- /.node -->
      </div>
      <div class="scroll-prompt">
        <img src="/images/arrow.png" >
        SCROLL TO LEARN MORE"
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 item">
        {{content}}
      </div>
    </div>
  </div>
</div>
{% include bottomNav.html %}
<nav class="bottom-callout">
  <div class="container">
    <div class="row">
      <blockquote class="col-lg-6" style="float:none;margin:0 auto;font-weight:bold">
        Share your ideas for the region on <a href="https://www.facebook.com/regionalplan">Facebook</a> or <a href="https://twitter.com/RegionalPlan" target="_blank">twitter</a>, hashtag #4thplan, or post a <a href="http://rpa.org/fourth-plan" target="_blank">comment on our website</a>.
      </blockquote>
    </div>
  </div>
</nav>
{% include footer.html %}
